#myVideo {
  min-width: 100vh;
  min-height: 100vw;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  z-index: -100;

  background-size: cover;
}

.content {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #f1f1f1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: video-change 14s linear infinite;
}

@keyframes video-change {
  to {
    background: rgba(0, 0, 0, 1);
    background-blend-mode: exclusion;
  }
}

section {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 0, 0, 0.1);
  box-shadow: 0px 0px 0px red;
  filter: drop-shadow(0 5px 5px red);
  animation: sombra 14s infinite;
}

@keyframes sombra {
  100% {
    box-shadow: 0px 0px 500px black;
  }
}

h1 {
  margin: 0;
  padding: 0;
}
